body{
    background-color: rgb(2, 1, 110);
    text-align: center;
    color: white;
    font-family: "Anisette Std Petite";
}
img {
    width: 100%;
}
h4 {
    color: red;
}
h1 {
    font-size: 40px;
}
p {
    text-align: left;
}